@font-face {
  font-family: "Gotham Rounded";
  src: url("../assets/fonts/GothamRoundedBook.ttf");
}

@font-face {
  font-family: "Gotham Rounded";
  src: url("../assets/fonts/GothamRoundedBold.ttf");
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100vh;
  display: -ms-grid;
  display: grid;
  place-items: center;
  font-family: Gotham Rounded;
  background-color: #333;
}

h1 {
  font-size: 4.5vw;
}

p {
  color: #141414;
  margin-top: 2vw;
  font-size: 1.5vw;
  line-height: 2vw;
}

.bold {
  font-weight: bold;
}

.width-75 {
  width: 75%;
}

#main-container {
  background-color: #1b1b1b;
  aspect-ratio: 20/9;
  width: 100%;
  position: relative;
}

#globe-box {
  display: none;
  padding: 1vh;
  background-color: white;
  width: 35%;
  left: 32%;
  top: 30%;
  position: absolute;
  z-index: 100;
  border-radius: 16px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.overlay-info {
  background-color: #fff;
  margin-top: 20px;
  padding: 20px;
  width: 30%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 8px;
}

.left {
  margin-left: 20px;
}

.info-button {
  width: 6.25%;
  position: absolute;
  bottom: 2.8%;
  left: 46.8%;
  z-index: 11;
}

.info-overlay-button {
  display: none;
  width: 6.25%;
  position: absolute;
  bottom: 5.56%;
  right: 2.5%;
  z-index: 12;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 1.5vw rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 1.5vw rgba(0, 0, 0, 0.1);
}

.info-overlay-button-blue {
  left: 2.5%;
}

.exit-overlay-button {
  display: none;
  width: 6.25%;
  position: absolute;
  top: 5.56%;
  right: 2.5%;
  z-index: 12;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 1.5vw rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 1.5vw rgba(0, 0, 0, 0.1);
}

.quest {
  position: relative;
}

.quest-overlay {
  display: none;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 11;
}

.quest-info {
  position: absolute;
  background-color: #fff;
  border-radius: 16px;
  padding: 2vw;
  width: 45%;
}

.quest-info h2 {
  font-size: 2.3vw;
}

.quest-info-yellow {
  bottom: 2.56%;
  left: 1.5%;
  width: 50%;
}

.quest-info-yellow h2 {
  color: #f2ba49;
}

.quest-info-green {
  top: 5.56%;
  left: 2.5%;
}

.quest-info-green h2 {
  color: #4cbf4c;
}

.quest-info-black-1 {
  width: 50%;
  top: 32%;
  right: 10%;
}

.quest-info-black-1 h2 {
  color: #9900ff;
}

.quest-info-black-2 {
  width: 50%;
  top: 32%;
  right: 10%;
}

.quest-info-black-2 h2 {
  color: #9900ff;
}

.quest-info-black-3 {
  width: 45%;
  top: 32%;
  right: 10%;
}

.quest-info-black-3 h2 {
  color: #9900ff;
}

.quest-info-black h2 {
  color: #9900ff;
}

.quest-info-red {
  top: auto;
  bottom: 5.56%;
  right: 10%;
}

.quest-info-red-3 {
  top: auto;
  bottom: 5.56%;
  right: 10%;
  width: 49%;
}

.quest-info-red-3 h2 {
  color: #ff4d4d;
}

.quest-info-red h2 {
  color: #ff4d4d;
}

.quest-info-blue {
  width: 50%;
  top: 5.56%;
  right: 10%;
}

.quest-info-blue h2 {
  color: #0ebde5;
}

.quest-info p {
  margin-top: 1vw;
}

.quest-info input {
  width: 75%;
  border: none;
  border-bottom: 2px solid #e3e5e9;
  padding-left: 1em;
}

.quest-info button {
  border: none;
  padding: 1vw 1.5vw;
  font-family: Gotham Rounded;
  color: #fff;
  border-radius: .3vw;
}

.quest-result {
  background-color: #fff;
  position: absolute;
  border-radius: 16px;
  padding: 2vw;
  width: 40%;
  display: none;
  -webkit-box-shadow: 0 0 1.5vw rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 1.5vw rgba(0, 0, 0, 0.1);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.quest-result p {
  margin-top: 1vw;
  padding-bottom: 1vw;
  border-bottom: 1px solid #e3e5e9;
}

.quest-result :first-child {
  margin-top: 0;
  border-bottom: none;
}

.quest-result :last-child {
  border-bottom: none;
}

.quest-result-yellow {
  bottom: 2.56%;
  left: 53.5%;
  width: 35.5%;
}

.quest-result-yellow-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #f2ba49;
}

.quest-result-yellow-4 h2 {
  margin-right: 0.5vw;
}

.quest-result-yellow-2 {
  width: 36%;
  bottom: 2.56%;
  left: 53%;
}

.quest-result-yellow-2 img {
  padding: 1vw;
}

.quest-result-yellow-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #f2ba49;
}

.quest-result-yellow-3 h2 {
  margin-right: 0.5vw;
}

.quest-result-black {
  width: 32%;
  bottom: 5.56%;
  left: 5%;
}

.quest-result-black-2 {
  top: 32%;
}

.quest-result-black-3 {
  top: 32%;
}

.quest-result-black img {
  padding: 1vw;
  margin-bottom: 0;
}

.quest-result-red {
  width: 36%;
  top: 22%;
  left: 2.5%;
}

.quest-result-blue {
  left: 2.5%;
  width: 35%;
  top: 5.56%;
}

.quest-result-blue-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #0ebde5;
}

.quest-result-blue-1 h2 {
  margin-right: 0.5vw;
}

.quest-result-blue-3 {
  display: inline;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #0ebde5;
}

.quest-result-blue-3 p {
  color: #0ebde5;
  margin-right: 0.5vw;
}

.quest-result-green {
  left: 50%;
  width: 35%;
  top: 5.56%;
}

.quest-result-green-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #4cbf4c;
}

.quest-result-green-3 h2 {
  margin-right: 0.5vw;
}

.quest-result-green img {
  padding: 1vw;
}

.quest-send-button-green {
  background-color: #4cbf4c;
  font-size: 1.5vw;
}

.quest-send-button-yellow {
  background-color: #f2ba49;
  font-size: 1.5vw;
}

.quest-send-button-red {
  background-color: #ff4d4d;
  font-size: 1.5vw;
}

.quest-send-button-blue {
  background-color: #0ebde5;
  font-size: 1.5vw;
}

.quest-send-button-black {
  background-color: #9900ff;
  font-size: 1.5vw;
}

.quest-redo-button {
  display: none;
}

.quest-tips {
  display: none;
  position: absolute;
  background-color: #fff;
  border-radius: 16px;
  padding: 2vw;
}

.quest-tips :first-child {
  margin-top: 0;
}

.quest-tips p {
  margin-top: 0;
}

.quest-tips details {
  font-family: Gotham Rounded;
  font-size: 1.5vw;
  margin-top: 1vw;
  background-color: #e3e5e9;
  border-radius: .4vw;
  padding: 1vw;
}

.quest-tips details p {
  margin-top: 1vw;
  margin-left: 1em;
}

.quest-tips summary {
  font-family: Gotham Rounded;
}

.quest-text-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.quest-text-wrapper p {
  width: 90%;
}

.quest-text-wrapper img {
  width: 3vw;
}

.quest-input-wrapper {
  margin-top: 1.5vw;
}

.quest-triangle {
  position: absolute;
  width: 2.5%;
}

#quest-tips-green-1 {
  width: 26%;
  top: 5.56%;
  left: 50%;
}

#quest-tips-green-2 {
  width: 26%;
  top: 5.56%;
  left: 50%;
}

#quest-tips-green-3 {
  width: 40%;
  top: 5.56%;
  left: 50%;
}

#quest-tips-yellow-1 {
  left: 53%;
  bottom: 2.56%;
  width: 33%;
  -webkit-box-shadow: 0 0 1.5vw rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 1.5vw rgba(0, 0, 0, 0.1);
}

#quest-tips-yellow-2 {
  left: 53%;
  bottom: 2.56%;
  width: 33%;
  -webkit-box-shadow: 0 0 1.5vw rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 1.5vw rgba(0, 0, 0, 0.1);
}

#quest-tips-yellow-3 {
  left: 53%;
  bottom: 2.56%;
  width: 33%;
  -webkit-box-shadow: 0 0 1.5vw rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 1.5vw rgba(0, 0, 0, 0.1);
}

#quest-tips-yellow-4 {
  left: 53%;
  bottom: 2.56%;
  width: 33%;
  -webkit-box-shadow: 0 0 1.5vw rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 1.5vw rgba(0, 0, 0, 0.1);
}

#quest-tips-black-1 {
  width: 32%;
  bottom: 20%;
  left: 5%;
}

#quest-tips-black-2 {
  width: 32%;
  bottom: 15%;
  left: 5%;
}

#quest-tips-black-3 {
  width: 32%;
  bottom: 15%;
  left: 10%;
}

#quest-tips-red-1 {
  width: 32%;
  bottom: 5.5%;
  left: 10%;
}

#quest-tips-red-2 {
  width: 26%;
  bottom: 5.5%;
  left: 16%;
}

#quest-tips-red-3 {
  width: 26%;
  bottom: 5.5%;
  left: 12%;
}

#quest-tips-red-4 {
  width: 26%;
  bottom: 5.5%;
  left: 16%;
}

#quest-tips-blue-1 {
  width: 36%;
  top: 5.56%;
  left: 2.5%;
}

#quest-tips-blue-2 {
  width: 36%;
  top: 5.56%;
  left: 2.5%;
}

#quest-tips-blue-3 {
  width: 36%;
  top: 5.56%;
  left: 2.5%;
}

#quest-triangle-green-1 {
  bottom: -4.5%;
  left: 33.5%;
  width: 5%;
}

#quest-triangle-green-2 {
  bottom: -4.5%;
  right: 33%;
  width: 5%;
}

#quest-triangle-green-3 {
  bottom: -4.5%;
  right: 12%;
  width: 5%;
}

#quest-triangle-yellow-1 {
  top: -5%;
  left: 2.5%;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  width: 5%;
}

#quest-triangle-yellow-2 {
  top: -5%;
  left: 26%;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  width: 5%;
}

#quest-triangle-yellow-3 {
  top: -5%;
  left: 57%;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  width: 5%;
}

#quest-triangle-yellow-4 {
  top: -5%;
  left: 39%;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  width: 5%;
}

#quest-triangle-black-1 {
  top: -5%;
  left: 6.5%;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  width: 5%;
}

#quest-triangle-black-2 {
  top: -4%;
  left: 17.5%;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  width: 5%;
}

#quest-triangle-black-3 {
  top: -4%;
  left: 20.5%;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  width: 5%;
}

#quest-triangle-red-1 {
  top: -5%;
  right: 51%;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  width: 5%;
}

#quest-triangle-red-2 {
  top: -5%;
  right: 26%;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  width: 5%;
}

#quest-triangle-red-3 {
  top: -5%;
  right: 40.3%;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  width: 5%;
}

#quest-triangle-red-4 {
  top: -5%;
  right: 10.3%;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  width: 5%;
}

#quest-triangle-blue-1 {
  bottom: -5%;
  left: 36%;
  width: 5%;
}

#quest-triangle-blue-2 {
  bottom: -3.5%;
  right: 39.2%;
  width: 5%;
}

#quest-triangle-blue-3 {
  bottom: -5%;
  right: 15%;
  width: 5%;
}

#quest-input-p-green-3 {
  width: 50%;
  margin-left: 1em;
}

#quest-input-p-yellow-3 {
  width: 30%;
  margin-left: 1em;
}

.info-box {
  display: none;
  width: 36.2%;
  position: absolute;
  padding: 2.5vw;
  border-radius: 16px;
  background-color: #fff;
  z-index: 20;
  -webkit-box-shadow: 0 0 1.5vw rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 1.5vw rgba(0, 0, 0, 0.1);
}

.info-box-yellow {
  right: 10%;
  top: 10%;
}

.info-box-yellow h1 {
  color: #f2ba49;
}

.info-box-black {
  left: 2.5%;
  top: 32%;
}

.info-box-black h1 {
  color: #9900ff;
}

.info-box-red {
  left: 3%;
  bottom: 5%;
}

.info-box-red h1 {
  color: #ff4d4d;
}

.info-box-blue {
  left: 2.5%;
  top: 5.5%;
}

.info-box-blue h1 {
  color: #0ebde5;
}

.info-box-green {
  right: 10%;
  bottom: 5.5%;
}

.info-box-green h1 {
  color: #4cbf4c;
}

.wall-yellow {
  width: 33.25%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.wall-yellow-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-image: url(../assets/images/society-background.png);
  background-size: cover;
  z-index: 10;
}

.wall-yellow-beam-a {
  width: 50%;
  position: absolute;
  left: 0;
  bottom: 50.1%;
}

.wall-yellow-beam-a-partial-1 {
  display: none;
  width: 18.4%;
  position: absolute;
  right: 50%;
  bottom: 50.2%;
}

.wall-yellow-beam-a-partial-2 {
  display: none;
  width: 34.1%;
  position: absolute;
  right: 50%;
  bottom: 50.2%;
}

.wall-yellow-beam-b {
  width: 30%;
  position: absolute;
  right: 50.1%;
  bottom: 50%;
}

.wall-yellow-beam-b-partial {
  display: none;
  width: 16%;
  position: absolute;
  right: 50%;
  bottom: 50%;
}

.wall-black {
  width: 33.5%;
  position: absolute;
  top: 0;
  left: 33.25%;
}

.wall-black-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-image: url(../assets/images/space-background.png);
  background-size: cover;
  z-index: 10;
}

.wall-black-beam-a {
  width: 11.25%;
  position: absolute;
  right: 50%;
  top: 8.34%;
}

.wall-black-beam-b {
  width: 11.25%;
  position: absolute;
  left: 50%;
  top: 8.34%;
}

.wall-red {
  width: 33.25%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.wall-red-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-image: url(../assets/images/human-background.png);
  background-size: cover;
  z-index: 10;
}

.wall-red-beam-a {
  width: 30%;
  position: absolute;
  left: 50%;
  top: 8.34%;
}

.wall-red-beam-a-partial {
  display: none;
  width: 16%;
  position: absolute;
  left: 50%;
  bottom: 50.1%;
}

.wall-red-beam-b {
  width: 50%;
  position: absolute;
  left: 50%;
  bottom: 50.2%;
}

.wall-red-beam-b-partial {
  display: none;
  width: 27.2%;
  position: absolute;
  left: 50%;
  bottom: 50%;
}

.wall-blue {
  width: 42.5%;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.wall-blue-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-image: url(../assets/images/sea-background.png);
  background-size: cover;
  z-index: 10;
}

.wall-blue-beam-a {
  width: 46.25%;
  position: absolute;
  right: 3.75%;
  bottom: 8.34%;
}

.wall-blue-beam-a-partial {
  display: none;
  width: 26.25%;
  position: absolute;
  left: 50%;
  top: 50%;
}

.wall-blue-beam-b {
  width: 18.75%;
  position: absolute;
  left: 50%;
  bottom: 8.34%;
}

.wall-green {
  width: 42.5%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.wall-green-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-image: url(../assets/images/land-background.png);
  background-size: cover;
  z-index: 10;
}

.wall-green-beam-a {
  width: 50%;
  position: absolute;
  right: 50%;
  top: 50%;
}

.wall-green-beam-a-partial {
  display: none;
  width: 26%;
  position: absolute;
  right: 50%;
  top: 50.1%;
}

.wall-green-beam-b {
  width: 18.75%;
  position: absolute;
  left: 31.25%;
  bottom: 8.34%;
}

.circle {
  width: 2.2%;
  border-radius: 50%;
  outline: .4vw solid white;
  position: absolute;
  z-index: 5;
}

#yellow-circle-1 {
  top: 26.1%;
  left: 1.375%;
}

#yellow-circle-2 {
  top: 32.5%;
  left: 14.625%;
}

#yellow-circle-3 {
  top: 39%;
  left: 30%;
}

#yellow-circle-4 {
  top: 5.5%;
  left: 21.375%;
}

#black-circle-1 {
  top: 23%;
  left: 43.5%;
}

#black-circle-2 {
  top: 5.5%;
  left: 49%;
}

#black-circle-3 {
  top: 23%;
  right: 43.5%;
}

#red-circle-1 {
  top: 23%;
  left: 65%;
}

#red-circle-2 {
  top: 5.5%;
  left: 76.5%;
}

#red-circle-3 {
  top: 39%;
  left: 68%;
}

#red-circle-4 {
  top: 32.5%;
  right: 14.625%;
}

#blue-circle-1 {
  top: 72%;
  left: 58%;
}

#blue-circle-2 {
  top: 62%;
  left: 68%;
}

#blue-circle-3 {
  top: 72%;
  right: 17.5%;
}

#green-circle-1 {
  top: 72%;
  left: 17.5%;
}

#green-circle-2 {
  top: 62%;
  left: 30.5%;
}

#green-circle-3 {
  top: 72%;
  left: 39.8%;
}

#globe-circle {
  top: 40%;
  left: 48.9%;
}

.globe {
  width: 8.8%;
  position: absolute;
  top: 41.7%;
  left: 45.5%;
}

.society-background-partial {
  width: 46.25%;
  position: absolute;
  top: 8.33%;
  left: 3.75%;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.space-background-partial {
  width: 15%;
  position: absolute;
  top: 8.34%;
  left: 42.5%;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.human-background-partial {
  width: 46.25%;
  position: absolute;
  top: 8.33%;
  right: 3.75%;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.sea-background-partial {
  width: 46.25%;
  position: absolute;
  bottom: 8.33%;
  right: 3.75%;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.land-background-partial {
  width: 46.25%;
  position: absolute;
  bottom: 8.33%;
  left: 3.75%;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.transparent-background {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

#scoreboard-overlay {
  display: none;
  place-items: center;
}

.scoreboard-box {
  background-color: #fff;
  margin-bottom: 5%;
  padding: 20px;
  width: 74%;
  height: 71.4%;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.scoreboard-intro {
  width: 45%;
}

.scoreboard-intro p {
  margin-top: .8em;
}

.scoreboard-intro :first-child {
  font-weight: bold;
  margin-top: 0;
}

.scoreboard-intro-final-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.scoreboard-intro-help {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2em;
}

.scoreboard-intro-help p {
  margin-top: 0;
  margin-left: .4em;
}

.scoreboard-intro-help img {
  width: 2vw;
}

.scoreboard-divider {
  background-color: #e3e5e9;
  width: 2px;
  height: 100%;
}

.scoreboard-score {
  width: 45%;
}

.scoreboard-score p {
  padding-bottom: .8em;
}

.scoreboard-score :first-child {
  font-weight: bold;
  margin-top: 0;
}

.scoreboard-score-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.scoreboard-score-text p {
  margin: 0;
  margin-right: .4em;
  padding: 0;
}

.scoreboard-score-text :first-child {
  font-weight: normal;
  margin-top: 0;
}

.scoreboard-score-sections {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: normal;
}

.scoreboard-score-sections :first-child {
  font-weight: normal;
  margin-top: 1em;
}

.scoreboard-score-section {
  margin-top: 1em;
  width: 8vw;
  height: 22vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.scoreboard-score-section p {
  font-size: 1.2vw;
  margin: 0;
  padding: 0;
}

.scoreboard-score-section :first-child {
  font-weight: normal;
  margin-top: 0;
}

.scoreboard-score-bar-yellow {
  position: relative;
  width: 1.2vw;
  height: 70%;
  background-color: #fcf1db;
  border-radius: 8em 8em 0 0;
}

.scoreboard-score-bar-yellow-partial {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #f2ba49;
  border-radius: 8em 8em 0 0;
}

.scoreboard-score-bar-black {
  position: relative;
  width: 1.2vw;
  height: 70%;
  background-color: #dddddd;
  border-radius: 8em 8em 0 0;
}

.scoreboard-score-bar-black-partial {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #555555;
  border-radius: 8em 8em 0 0;
}

.scoreboard-score-bar-red {
  position: relative;
  width: 1.2vw;
  height: 70%;
  background-color: #ffdbdb;
  border-radius: 8em 8em 0 0;
}

.scoreboard-score-bar-red-partial {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #ff4d4d;
  border-radius: 8em 8em 0 0;
}

.scoreboard-score-bar-blue {
  position: relative;
  width: 1.2vw;
  height: 70%;
  background-color: #cdf2fA;
  border-radius: 8em 8em 0 0;
}

.scoreboard-score-bar-blue-partial {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #0ebde5;
  border-radius: 8em 8em 0 0;
}

.scoreboard-score-bar-green {
  position: relative;
  width: 1.2vw;
  height: 70%;
  background-color: #dbf2db;
  border-radius: 8em 8em 0 0;
}

.scoreboard-score-bar-green-partial {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #4cbf4c;
  border-radius: 8em 8em 0 0;
}

.starting-screen-box {
  position: absolute;
  width: 30%;
  background-color: white;
  border-radius: 8px;
  padding: 20px;
}

#starting-screen {
  z-index: 100;
}

#starting-screen p {
  margin: 0;
}

#starting-screen-1 {
  top: 35%;
  left: 2.5%;
}

#starting-screen-1 :first-child {
  margin-bottom: .4em;
}

#starting-screen-1-triangle {
  position: absolute;
  bottom: -5%;
  left: 51.4%;
  width: 5%;
}

#starting-screen-2 {
  top: 30%;
  right: 2.5%;
}

#starting-screen-2 :first-child {
  margin-bottom: 0;
}

#starting-screen-2-triangle {
  position: absolute;
  bottom: -5%;
  right: -2%;
  width: 5%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
/*# sourceMappingURL=main.css.map */