@font-face {
  font-family: "Gotham Rounded";
  src: url("../assets/fonts/GothamRoundedBook.ttf");
}

@font-face {
  font-family: "Gotham Rounded";
  src: url("../assets/fonts/GothamRoundedBold.ttf");
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100vh;
  display: -ms-grid;
  display: grid;
  place-items: center;
  font-family: Gotham Rounded;
  background-color: #333;
}

h1 {
  font-size: 4.5vw;
}

p {
  color: #141414;
  margin-top: 2vw;
  font-size: 1.5vw;
  line-height: 2vw;
}

.bold {
  font-weight: bold;
}

#main-container {
  background-color: #1b1b1b;
  aspect-ratio: 20/9;
  width: 100%;
  position: relative;
}

.overlay-info {
  background-color: #fff;
  margin-top: 20px;
  padding: 20px;
  width: 30%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 8px;
}

.left {
  margin-left: 20px;
}

.info-button {
  width: 6.25%;
  position: absolute;
  bottom: 2.8%;
  left: 46.8%;
}

.info-overlay-button {
  width: 6.25%;
  position: absolute;
  bottom: 5.56%;
  right: 2.5%;
  z-index: 12;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 1.5vw rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 1.5vw rgba(0, 0, 0, 0.1);
}

.info-overlay-button-blue {
  left: 2.5%;
}

.exit-overlay-button {
  width: 6.25%;
  position: absolute;
  top: 5.56%;
  right: 2.5%;
  z-index: 12;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 1.5vw rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 1.5vw rgba(0, 0, 0, 0.1);
}

.exit-overlay-button-red {
  left: 2.5%;
}

.quest {
  position: relative;
}

.quest-overlay {
  display: none;
  position: absolute;
  width: 100%;
  top: 5.56%;
  z-index: 12;
}

.quest-info {
  position: absolute;
  background-color: #fff;
  border-radius: 16px;
  padding: 2vw;
  width: 45%;
  top: 5.56%;
  left: 2.5%;
}

.quest-info h2 {
  color: #4cbf4c;
}

.quest-info p {
  margin-top: 1vw;
}

.quest-info input {
  width: 75%;
  border: none;
  border-bottom: 2px solid #e3e5e9;
}

.quest-info button {
  border: none;
  padding: 1vw 1.5vw;
  font-family: Gotham Rounded;
  color: #fff;
  border-radius: .3vw;
}

.quest-info #send-button-green {
  background-color: #4cbf4c;
  font-size: 1.5vw;
}

.quest-tips {
  position: absolute;
  background-color: #fff;
  border-radius: 16px;
  padding: 2vw;
  width: 26%;
  top: 5.56%;
  left: 50%;
}

.quest-tips :first-child {
  margin-top: 0;
}

.quest-tips details {
  font-family: Gotham Rounded;
  font-size: 1.5vw;
  margin-top: 1vw;
  background-color: #e3e5e9;
  border-radius: .4vw;
  padding: 1vw;
}

.quest-tips details p {
  margin-top: 1vw;
  margin-left: 1em;
}

.quest-tips summary {
  font-family: Gotham Rounded;
}

.quest-text-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.quest-text-wrapper p {
  width: 90%;
}

.quest-input-wrapper {
  margin-top: 1.5vw;
}

.quest-triangle {
  position: absolute;
  width: 2.5%;
}

#quest-triangle-green-2 {
  bottom: -2.5%;
  right: 34%;
}

.info-box {
  display: none;
  width: 36.2%;
  position: absolute;
  padding: 2.5vw;
  border-radius: 16px;
  background-color: #fff;
  z-index: 20;
  -webkit-box-shadow: 0 0 1.5vw rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 1.5vw rgba(0, 0, 0, 0.1);
}

.info-box-yellow {
  right: 10%;
  top: 10%;
}

.info-box-yellow h1 {
  color: #f2ba49;
}

.info-box-black {
  left: 2.5%;
  bottom: 5.5%;
}

.info-box-red {
  left: 11.5%;
  bottom: 7%;
}

.info-box-red h1 {
  color: #ff4d4d;
}

.info-box-blue {
  left: 2.5%;
  top: 5.5%;
}

.info-box-blue h1 {
  color: #0ebde5;
}

.info-box-green {
  right: 10%;
  bottom: 5.5%;
}

.info-box-green h1 {
  color: #4cbf4c;
}

.wall-yellow {
  width: 33.25%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.wall-yellow-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-image: url(../assets/images/society-background.png);
  background-size: cover;
  z-index: 10;
}

.wall-yellow-beam-a {
  width: 50%;
  position: absolute;
  left: 0;
  bottom: 50.1%;
}

.wall-yellow-beam-a-partial-1 {
  display: none;
  width: 18.4%;
  position: absolute;
  right: 50%;
  bottom: 50.2%;
}

.wall-yellow-beam-a-partial-2 {
  display: none;
  width: 34.1%;
  position: absolute;
  right: 50%;
  bottom: 50.2%;
}

.wall-yellow-beam-b {
  width: 30%;
  position: absolute;
  right: 50.1%;
  bottom: 50%;
}

.wall-yellow-beam-b-partial {
  display: none;
  width: 16%;
  position: absolute;
  right: 50%;
  bottom: 50%;
}

.wall-black {
  width: 33.5%;
  position: absolute;
  top: 0;
  left: 33.25%;
}

.wall-black-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-image: url(../assets/images/space-background.png);
  background-size: cover;
  z-index: 10;
}

.wall-black-beam-a {
  width: 11.25%;
  position: absolute;
  right: 50%;
  top: 8.34%;
}

.wall-black-beam-b {
  width: 11.25%;
  position: absolute;
  left: 50%;
  top: 8.34%;
}

.wall-red {
  width: 33.25%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.wall-red-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-image: url(../assets/images/human-background.png);
  background-size: cover;
  z-index: 10;
}

.wall-red-beam-a {
  width: 30%;
  position: absolute;
  left: 50%;
  top: 8.34%;
}

.wall-red-beam-a-partial {
  display: none;
  width: 16%;
  position: absolute;
  left: 50%;
  bottom: 50.1%;
}

.wall-red-beam-b {
  width: 50%;
  position: absolute;
  left: 50%;
  bottom: 50.2%;
}

.wall-red-beam-b-partial {
  display: none;
  width: 27.2%;
  position: absolute;
  left: 50%;
  bottom: 50%;
}

.wall-blue {
  width: 42.5%;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.wall-blue-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-image: url(../assets/images/sea-background.png);
  background-size: cover;
  z-index: 10;
}

.wall-blue-beam-a {
  width: 46.25%;
  position: absolute;
  right: 3.75%;
  bottom: 8.34%;
}

.wall-blue-beam-a-partial {
  display: none;
  width: 26.25%;
  position: absolute;
  left: 50%;
  top: 50%;
}

.wall-blue-beam-b {
  width: 18.75%;
  position: absolute;
  left: 50%;
  bottom: 8.34%;
}

.wall-green {
  width: 42.5%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.wall-green-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-image: url(../assets/images/land-background.png);
  background-size: cover;
  z-index: 10;
}

.wall-green-beam-a {
  width: 50%;
  position: absolute;
  right: 50%;
  top: 50%;
}

.wall-green-beam-a-partial {
  display: none;
  width: 26%;
  position: absolute;
  right: 50%;
  top: 50.1%;
}

.wall-green-beam-b {
  width: 18.75%;
  position: absolute;
  left: 31.25%;
  bottom: 8.34%;
}

.circle {
  width: 2.2%;
  border-radius: 50%;
  outline: .4vw solid white;
  position: absolute;
  z-index: 5;
}

#yellow-circle-1 {
  top: 26.1%;
  left: 1.375%;
}

#yellow-circle-2 {
  top: 32.5%;
  left: 14.625%;
}

#yellow-circle-3 {
  top: 39%;
  left: 30%;
}

#yellow-circle-4 {
  top: 5.5%;
  left: 21.375%;
}

#yellow-circle-5 {
  top: 23%;
  left: 32.75%;
}

#black-circle-1 {
  top: 23%;
  left: 43.5%;
}

#black-circle-2 {
  top: 5.5%;
  left: 49%;
}

#black-circle-3 {
  top: 23%;
  right: 43.5%;
}

#red-circle-1 {
  top: 23%;
  left: 65%;
}

#red-circle-2 {
  top: 5.5%;
  left: 76.5%;
}

#red-circle-3 {
  top: 39%;
  left: 68%;
}

#red-circle-4 {
  top: 32.5%;
  right: 14.625%;
}

#blue-circle-1 {
  top: 72%;
  left: 58%;
}

#blue-circle-2 {
  top: 62%;
  left: 68%;
}

#blue-circle-3 {
  top: 72%;
  right: 17.5%;
}

#green-circle-1 {
  top: 72%;
  left: 17.5%;
}

#green-circle-2 {
  top: 62%;
  left: 30.5%;
}

#green-circle-3 {
  top: 72%;
  left: 39.8%;
}

#globe-circle {
  top: 40%;
  left: 48.9%;
}

.globe {
  width: 8.8%;
  position: absolute;
  top: 41.7%;
  left: 45.5%;
}

.society-background-partial {
  width: 46.25%;
  position: absolute;
  top: 8.33%;
  left: 3.75%;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.space-background-partial {
  width: 15%;
  position: absolute;
  top: 8.34%;
  left: 42.5%;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.human-background-partial {
  width: 46.25%;
  position: absolute;
  top: 8.33%;
  right: 3.75%;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.sea-background-partial {
  width: 46.25%;
  position: absolute;
  bottom: 8.33%;
  right: 3.75%;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.land-background-partial {
  width: 46.25%;
  position: absolute;
  bottom: 8.33%;
  left: 3.75%;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.score-board {
  background-color: #fff;
  position: absolute;
  margin-top: 5%;
  margin-left: 18%;
  padding: 20px;
  width: 64%;
  height: 71.4%;
  border-radius: 8px;
  z-index: 15;
  display: none;
}
/*# sourceMappingURL=main.css.map */