//Fonts
@font-face {
    font-family: "Gotham Rounded";
    src: url("../assets/fonts/GothamRoundedBook.ttf");
}

@font-face {
    font-family: "Gotham Rounded";
    src: url("../assets/fonts/GothamRoundedBold.ttf");
    font-weight: bold;
}

// Variables and arrays
$colors: (text-main: #141414,
    text-secondary: #595959,
    text-tertiary: #e3e5e9,
    yellow: #f2ba49,
    gray: #555555,
    red: #ff4d4d,
    blue: #0ebde5,
    green: #4cbf4c,
    yellow-beam: #f6cf80,
    gray-beam: #808080,
    red-beam: #ff7373,
    blue-beam: #40ddff,
    green-beam: #82d282,
);

// Functions
@function color($color-name) {
    @return map-get($colors, $color-name);
}

// HTML elements
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: grid;
    place-items: center;
    font-family: Gotham Rounded;
    background-color: #333;
}

h1 {
    font-size: 4.5vw;
}

p {
    color: color(text-main);
    margin-top: 2vw;
    font-size: 1.5vw;
    line-height: 2vw;
}

.bold {
    font-weight: bold;
}

#main-container {
    background-color: #1b1b1b;
    aspect-ratio: 20/9;
    width: 100%;
    position: relative;
}

.overlay {
    &-info {
        background-color: #fff;
        margin-top: 20px;
        padding: 20px;
        width: 30%;
        height: fit-content;
        border-radius: 8px;
    }
}

.left {
    margin-left: 20px;
}

// Buttons
.info-button {
    width: 6.25%;
    position: absolute;
    bottom: 2.8%;
    left: 46.8%;
}

.info-overlay-button {
    width: 6.25%;
    position: absolute;
    bottom: 5.56%;
    right: 2.5%;
    z-index: 12;
    border-radius: 50%;
    box-shadow: 0 0 1.5vw rgba($color: #000000, $alpha: 0.1);

    &-blue {
        left: 2.5%;
    }
}

.exit-overlay-button {
    width: 6.25%;
    position: absolute;
    top: 5.56%;
    right: 2.5%;
    z-index: 12;
    border-radius: 50%;
    box-shadow: 0 0 1.5vw rgba($color: #000000, $alpha: 0.1);

    &-red {
        left: 2.5%;
    }
}

// Quests
.quest {
    position: relative;

    &-overlay {
        display: none;
        position: absolute;
        width: 100%;
        top: 5.56%;
        z-index: 12;
    }

    &-info {
        position: absolute;
        background-color: #fff;
        border-radius: 16px;
        padding: 2vw;
        width: 45%;

        h2 {
            font-size: 2.3vw;
        }

        &-yellow {
            h2 {
                color: color(yellow);
            }
        }

        &-green {
            top: 5.56%;
            left: 2.5%;

            h2 {
                color: color(green);
            }
        }

        &-black {
            h2 {
                color: color(black);
            }
        }

        &-red {
            h2 {
                color: color(red);
            }
        }

        &-blue {
            width: 50%;
            top: 5.56%;
            right: 10%;

            h2 {
                color: color(blue);
            }
        }

        p {
            margin-top: 1vw;
        }

        input {
            width: 75%;
            border: none;
            border-bottom: 2px solid color(text-tertiary);
            padding-left: 1em;
        }

        button {
            border: none;
            padding: 1vw 1.5vw;
            font-family: Gotham Rounded;
            color: #fff;
            border-radius: .3vw;
        }
    }

    &-result {
        background-color: #fff;
        position: absolute;
        border-radius: 16px;
        padding: 2vw;
        width: 40%;
        display: none;
        box-shadow: 0 0 1.5vw rgba($color: #000000, $alpha: 0.1);
        flex-direction: column;

        p {
            margin-top: 1vw;
            padding-bottom: 1vw;
            border-bottom: 1px solid color(text-tertiary);
        }

        :first-child {
            margin-top: 0;
            border-bottom: none;
        }

        :last-child {
            border-bottom: none;
        }

        &-yellow {
            top: 5.56%;
            left: 50%;

            &-4 {
                display: flex;
                flex-direction: row;
                color: color(yellow);

                h2 {
                    margin-right: 0.5vw;
                }
            }
        }



    }

    &-send-button {
        &-green {
            background-color: color(green);
            font-size: 1.5vw;
        }

        &-yellow {
            background-color: color(yellow);
            font-size: 1.5vw;
        }

        &-blue {
            background-color: color(blue);
            font-size: 1.5vw;
        }
    }

    &-redo-button {
        display: none;
    }

    &-tips {
        display: none;
        position: absolute;
        background-color: #fff;
        border-radius: 16px;
        padding: 2vw;

        :first-child {
            margin-top: 0;
            //font-weight: bold;
        }

        details {
            font-family: Gotham Rounded;
            font-size: 1.5vw;
            margin-top: 1vw;
            background-color: color(text-tertiary);
            border-radius: .4vw;
            padding: 1vw;

            p {
                margin-top: 1vw;
                margin-left: 1em;
            }
        }

        summary {
            font-family: Gotham Rounded;
        }
    }

    &-text-wrapper {
        display: flex;
        justify-content: space-between;

        p {
            width: 90%;
        }

        img {
            width: 7%;
        }
    }

    &-input-wrapper {
        margin-top: 1.5vw;
    }

    &-triangle {
        position: absolute;
        width: 2.5%;
    }
}

#quest {
    &-tips {
        &-green-1 {
            width: 26%;
            top: 5.56%;
            left: 50%;
        }

        &-green-2 {
            width: 26%;
            top: 5.56%;
            left: 50%;
        }

        &-green-3 {
            width: 40%;
            top: 5.56%;
            left: 50%;
        }

        &-yellow-1 {
            width: 26%;
        }

        &-yellow-2 {
            width: 26%;
        }

        &-yellow-3 {
            width: 26%;
        }

        &-yellow-4 {
            width: 26%;
        }

        &-yellow-5 {
            width: 26%;
        }

        &-black-1 {
            width: 26%;
        }

        &-black-2 {
            width: 26%;
        }

        &-red-1 {
            width: 26%;
        }

        &-red-1 {
            width: 26%;
        }

        &-red-2 {
            width: 26%;
        }

        &-red-3 {
            width: 26%;
        }

        &-red-4 {
            width: 26%;
        }

        &-blue-1 {
            width: 36%;
            top: 5.56%;
            left: 2.5%;
        }

        &-blue-2 {
            width: 36%;
            top: 5.56%;
            left: 2.5%;
        }

        &-blue-3 {
            width: 36%;
            top: 5.56%;
            left: 2.5%;
        }
    }

    &-triangle {
        &-green-1 {
            bottom: -2.5%;
            left: 34.5%;
        }

        &-green-2 {
            bottom: -2.5%;
            right: 34%;
        }

        &-green-3 {
            bottom: -2.5%;
            right: 13.5%;
        }

        &-yellow-1 {
            bottom: -2.5%;
            right: 34%;
        }

        &-yellow-2 {
            bottom: -2.5%;
            right: 34%;
        }

        &-yellow-3 {
            bottom: -2.5%;
            right: 34%;
        }

        &-yellow-4 {
            bottom: -2.5%;
            right: 34%;
        }

        &-yellow-5 {
            bottom: -2.5%;
            right: 34%;
        }

        &-black-1 {
            bottom: -2.5%;
            right: 34%;
        }

        &-black-2 {
            bottom: -2.5%;
            right: 34%;
        }

        &-red-1 {
            bottom: -2.5%;
            right: 34%;
        }

        &-red-2 {
            bottom: -2.5%;
            right: 34%;
        }

        &-red-3 {
            bottom: -2.5%;
            right: 34%;
        }

        &-red-4 {
            bottom: -2.5%;
            right: 34%;
        }

        &-blue-1 {
            bottom: -2.5%;
            left: 36.5%;
        }

        &-blue-2 {
            bottom: -2.5%;
            right: 40.5%;
        }

        &-blue-3 {
            bottom: -2.5%;
            right: 15.5%;
        }

    }
}

// Info box
.info-box {
    display: none;
    width: 36.2%;
    position: absolute;
    padding: 2.5vw;
    border-radius: 16px;
    background-color: #fff;
    z-index: 20;
    box-shadow: 0 0 1.5vw rgba($color: #000000, $alpha: 0.1);


    &-yellow {
        right: 10%;
        top: 10%;

        h1 {
            color: color(yellow);
        }
    }

    &-black {
        left: 2.5%;
        bottom: 5.5%;

        h1 {
            color: color(black);
        }
    }

    &-red {
        left: 11.5%;
        bottom: 7%;

        h1 {
            color: color(red);
        }
    }

    &-blue {
        left: 2.5%;
        top: 5.5%;

        h1 {
            color: color(blue);
        }
    }

    &-green {
        right: 10%;
        bottom: 5.5%;

        h1 {
            color: color(green);
        }
    }
}

// Walls
.wall-yellow {
    width: 33.25%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    &-overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        display: none;
        width: 100%;
        height: 100%;
        background-image: url(../assets/images/society-background.png);
        background-size: cover;
        z-index: 10;
    }

    &-beam-a {
        width: 50%;
        position: absolute;
        left: 0;
        bottom: 50.1%;
    }

    &-beam-a-partial-1 {
        display: none;
        width: 18.4%;
        position: absolute;
        right: 50%;
        bottom: 50.2%;
    }

    &-beam-a-partial-2 {
        display: none;
        width: 34.1%;
        position: absolute;
        right: 50%;
        bottom: 50.2%;
    }

    &-beam-b {
        width: 30%;
        position: absolute;
        right: 50.1%;
        bottom: 50%;
    }

    &-beam-b-partial {
        display: none;
        width: 16%;
        position: absolute;
        right: 50%;
        bottom: 50%;
    }
}

.wall-black {
    width: 33.5%;
    position: absolute;
    top: 0;
    left: 33.25%;

    &-overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        display: none;
        width: 100%;
        height: 100%;
        background-image: url(../assets/images/space-background.png);
        background-size: cover;
        z-index: 10;
    }

    &-beam-a {
        width: 11.25%;
        position: absolute;
        right: 50%;
        top: 8.34%;
    }

    &-beam-b {
        width: 11.25%;
        position: absolute;
        left: 50%;
        top: 8.34%;
    }
}

.wall-red {
    width: 33.25%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;

    &-overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        display: none;
        width: 100%;
        height: 100%;
        background-image: url(../assets/images/human-background.png);
        background-size: cover;
        z-index: 10;
    }

    &-beam-a {
        width: 30%;
        position: absolute;
        left: 50%;
        top: 8.34%;
    }

    &-beam-a-partial {
        display: none;
        width: 16%;
        position: absolute;
        left: 50%;
        bottom: 50.1%;
    }

    &-beam-b {
        width: 50%;
        position: absolute;
        left: 50%;
        bottom: 50.2%;
    }

    &-beam-b-partial {
        display: none;
        width: 27.2%;
        position: absolute;
        left: 50%;
        bottom: 50%;
    }

}

.wall-blue {
    width: 42.5%;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;

    &-overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        display: none;
        width: 100%;
        height: 100%;
        background-image: url(../assets/images/sea-background.png);
        background-size: cover;
        z-index: 10;
    }

    &-beam-a {
        width: 46.25%;
        position: absolute;
        right: 3.75%;
        bottom: 8.34%;
    }

    &-beam-a-partial {
        display: none;
        width: 26.25%;
        position: absolute;
        left: 50%;
        top: 50%;
    }

    &-beam-b {
        width: 18.75%;
        position: absolute;
        left: 50%;
        bottom: 8.34%;
    }
}

.wall-green {
    width: 42.5%;
    position: absolute;
    bottom: 0;
    left: 0;

    &-overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        display: none;
        width: 100%;
        height: 100%;
        background-image: url(../assets/images/land-background.png);
        background-size: cover;
        z-index: 10;
    }

    &-beam-a {
        width: 50%;
        position: absolute;
        right: 50%;
        top: 50%;
    }

    &-beam-a-partial {
        display: none;
        width: 26%;
        position: absolute;
        right: 50%;
        top: 50.1%;
    }

    &-beam-b {
        width: 18.75%;
        position: absolute;
        left: 31.25%;
        bottom: 8.34%;
    }

}

// Circles
.circle {
    width: 2.2%;
    border-radius: 50%;
    outline: .4vw solid white;
    position: absolute;
    z-index: 5;
}

#yellow-circle {
    &-1 {
        top: 26.1%;
        left: 1.375%;
    }

    &-2 {
        top: 32.5%;
        left: 14.625%;
    }

    &-3 {
        top: 39%;
        left: 30%;
    }

    &-4 {
        top: 5.5%;
        left: 21.375%;
    }

    &-5 {
        top: 23%;
        left: 32.75%;
    }
}

#black-circle {
    &-1 {
        top: 23%;
        left: 43.5%;
    }

    &-2 {
        top: 5.5%;
        left: 49%;
    }

    &-3 {
        top: 23%;
        right: 43.5%;
    }
}

#red-circle {
    &-1 {
        top: 23%;
        left: 65%;
    }

    &-2 {
        top: 5.5%;
        left: 76.5%;
    }

    &-3 {
        top: 39%;
        left: 68%;
    }

    &-4 {
        top: 32.5%;
        right: 14.625%;
    }
}

#blue-circle {
    &-1 {
        top: 72%;
        left: 58%;
    }

    &-2 {
        top: 62%;
        left: 68%;
    }

    &-3 {
        top: 72%;
        right: 17.5%;
    }
}

#green-circle {
    &-1 {
        top: 72%;
        left: 17.5%;
    }

    &-2 {
        top: 62%;
        left: 30.5%;
    }

    &-3 {
        top: 72%;
        left: 39.8%;
    }
}

#globe-circle {
    top: 40%;
    left: 48.9%;
}

//Globe
.globe {
    width: 8.8%;
    position: absolute;
    top: 41.7%;
    left: 45.5%;
}

// Background images
.society-background-partial {
    width: 46.25%;
    position: absolute;
    top: 8.33%;
    left: 3.75%;
    filter: grayscale(100%);
}

.space-background-partial {
    width: 15%;
    position: absolute;
    top: 8.34%;
    left: 42.5%;
    filter: grayscale(100%);
}

.human-background-partial {
    width: 46.25%;
    position: absolute;
    top: 8.33%;
    right: 3.75%;
    filter: grayscale(100%);
}

.sea-background-partial {
    width: 46.25%;
    position: absolute;
    bottom: 8.33%;
    right: 3.75%;
    filter: grayscale(100%);
}

.land-background-partial {
    width: 46.25%;
    position: absolute;
    bottom: 8.33%;
    left: 3.75%;
    filter: grayscale(100%);
}

.transparent-background {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba($color: #000000, $alpha: .5);
    z-index: 100;
}

#scoreboard-overlay {
    display: none;
    place-items: center;
}

.scoreboard-box {
    background-color: #fff;
    margin-bottom: 5%;
    padding: 20px;
    width: 64%;
    height: 71.4%;
    border-radius: 8px;

}